<footer class="footer">
  <div>
    <img class="img-logo" src="/assets/image/Logo-branco 2.svg" alt="">
    <span>Horário de atendimento: 08h - 20h (Segunda a Sábado)</span>
    <span>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</span>
  </div>
  <div class="sociais">
    <span>Acesse nossas redes:</span>
    <figure>
        <img src="/assets/icon/Instragam 1.svg" alt="icone do zapzap">
        <img src="/assets/icon/Twiter 1.svg" alt="icone do instagran">
        <img src="/assets/icon/Whatsapp 1.svg" alt="icone do twiter">
    </figure>
  </div>
</footer>
