.app-header {

  .mat-toolbar{
    display: flex;
    justify-content: space-around;

    background-color: black;
    color: white;

    @media(max-width:613px){
     flex-direction: column;
     padding-top: 30px;
  }

  div{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  }
  
  .button-login{
    border-color: white;
    border-radius: 5px;
    background-color: black;
    color: white;
  }

  button:hover{
    background-color: rgba(255, 255, 255, 0.356);
    cursor: pointer;
  }
  }