<app-banner
  src="./assets/image/Banner homepage.svg"
  alt="Imagem do banner da home page"
></app-banner>
<app-container>
  <section class="section-card-tickets">PRIMEIRA SESSÃO</section>
  <section class="section-card-promotion">
    <h2>Promoções</h2>
    <div>
      <app-card-search></app-card-search>
      <app-card-search></app-card-search>
      <app-card-search></app-card-search>
      <app-card-search></app-card-search>
      <app-card-search></app-card-search>
      <app-card-search></app-card-search>
    </div>
  </section>
</app-container>
<app-footer src="./assets/Rodapé.svg" alt="Imagem do Rodapé"></app-footer>
