<app-banner
  src="./assets/image/Banner homepage.svg"
  alt="Imagem do banner da home page"
></app-banner>
<app-container>
  <section class="section-card-tickets">
   PRIMEIRA SECTION 
  </section>

  <section class="section-card-promotion">
    <h2>Promoções</h2>
    <div>
      <app-card-search
      src ="/assets/image/Atacama.svg"
      alt="Imagem do Atacama"
      ></app-card-search>
      <app-card-search
      src ="/assets/image/Veneza.svg"
      alt="Imagem do Atacama"
      ></app-card-search><app-card-search
      src ="/assets/image/Patagonia.svg"
      alt="Imagem do Atacama"
      ></app-card-search><app-card-search
      src ="/assets/image/gran canyon.svg"
      alt="Imagem do Atacama"
      ></app-card-search><app-card-search
      src ="/assets/image/Turquia.svg"
      alt="Imagem do Atacama"
      ></app-card-search><app-card-search
      src ="/assets/image/cordilheira.svg"
      alt="Imagem do Atacama"
      ></app-card-search>
    </div>
  </section>

  <section class="section-card-depositions">
    TERCEIRA SECTION 
  </section>
</app-container>
<app-footer src="./assets/Rodapé.svg" alt="Imagem do Rodapé"></app-footer>
